RewriteEngine On    
# changes url from /profile.php?user_id=1 to /user/1
RewriteRule    ^user/([A-Za-z0-9-]+)/?$    profile.php?username=$1    [NC,L]
# changes url from /view_image.php?image_id=Nsi324ns to /Nsi324ns
RewriteRule    ^([A-Za-z0-9-]+)/?$    view_image.php?image_id=$1    [NC,L]
# changes url from /upload.php to /upload
RewriteRule    ^upload/?$    upload.php    [NC,L]
# changes url from /home.php to /home
RewriteRule    ^home/?$    home.php    [NC,L]
# changes url from /view_album.php?album_id=Nsi324ns to /album/Nsi324ns
RewriteRule    ^album/([A-Za-z0-9-]+)/?$    view_album.php?album_id=$1    [NC,L]
RewriteRule    ^album/([A-Za-z0-9-]+)=/?$    view_album.php?album_id=$1    [NC,L,B]
# changes url from /view_album.php?album_id=Nsi324ns to /album/Nsi324ns
RewriteRule    ^album/([A-Za-z0-9-]+)=([A-Za-z0-9-]+)/?$    view_album.php?album_id=$1&&image_id=$2    [NC,L,B]
# changes url from /viral.php to /viral
RewriteRule    ^viral/?$    viral.php    [NC,L]
# changes url from /user_agreement.php to /user_agreement
RewriteRule    ^user_agreement/?$    user_agreement.php    [NC,L]
# changes url from /settings.php to /settings
RewriteRule    ^settings/?$    settings.php    [NC,L]
# changes url from /alerts.php to /alerts
RewriteRule    ^alerts/?$    alerts.php    [NC,L]
# changes url from /about.php to /about
RewriteRule    ^about/?$    about.php    [NC,L]
# redirects the inexistant top.php file
RewriteRule    ^top.php/?$    http://imagepxl.com/viral [NC,L,R=301]
RewriteRule    ^gallery/([A-Za-z0-9-]+)/?$    view_gallery.php?album_id=$1    [NC,L]